@import '../html/css/style-rtl.css';
@import url('https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.rtl.css');
//@import url('../html/css/semantic.rtl.css');

//@font-face {
//  font-family: 'Cairo-SemiBold';
//  src: url('../../../public/fonts/Cairo-SemiBold.ttf');
//}
//
//html,body,div,h1,h2,h3,h4,h5,a,p,ul,li {
//  font-family: 'Cairo-SemiBold';
//}

.product-info__title {
  text-align: right;
}

[dir='rtl'] .slick-prev {
  left: -39px !important;
}

[dir='rtl'] .slick-next {
  right: 0 !important;
  left: 100% !important;
}

.ui.comments {
  max-width: none !important;
}
