@import '../html/css/style-rtl.css';
@import url('https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.rtl.css');

.product-info__title {
  text-align: right;
}

//.slick-next {
//  right : -35px !important;
//  left: inherit !important;
//}

[dir='rtl'] .slick-prev {
  left: -39px !important;
}

[dir='rtl'] .slick-next {
  right: 0 !important;
  left: 100% !important;
}
