@import '../html/font/style.css';
//<!-- Vendor CSS -->
@import '../html/vendor/waves/waves.css';
@import '../html/vendor/slick/slick.css';
@import '../html/vendor/slick/slick-theme.css';
@import '../html/vendor/bootstrap-select/bootstrap-select.css';
@import '../html/vendor/magnific-popup/magnific-popup.css';
//<!-- Custom CSS -->
@import '../html/css/style.css';
@import '../html/css/style-colors.css';
@import '../html/css/style-layout4.css';
//<!-- Custom Fonts -->
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
//<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
@import '../html/vendor/rs-plugin/css/settings.css';
@import "../../../node_modules/semantic-ui/dist/semantic.min.css";

//<!-- Head Libs -->
@media (min-width: 1300px) {
  .container {
    width: 1300px !important;
  }
}

.nav-tabs--wd > li > a, .nav-tabs--wd > li.active > a, .nav-tabs--wd > li.active > a:hover, .nav-tabs--wd > li.active > a:focus {
  padding: 8px;
}

// search-fields and form
@media (min-width: 1000px) {
  .search-bar > .dropdown {
    width: 255px;
  }
}

.search-bar {
  display: flex;
  flex-direction: column;
  broder: 1px solid gold;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 6px;
}

.search-bar > .search-input {
  width: 200px;
  align-self: flex-end;
}

.main-fields {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.sub-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.search-input {
  margin-right: 5px !important;
  margin-left: 5px !important;
  margin-bottom: 8px !important;
}

.search-input-min {
  width: 100px;
}

.search-input-max {
  width: 100px;
}

.search-input-keyword {
  width: 250px;
}

.main-fields > .search-dropdown {
  width: 250px;
  max-width: 275px;
  margin-right: 3px !important;
  margin-left: 3px !important;
  margin-bottom: 5px !important;
}

.sub-fields > .search-dropdown {
  width: 244px;
  max-width: 250px;
  margin-right: 3px !important;
  margin-left: 3px !important;
  margin-bottom: 5px !important;
}

.search-dropdown-area {

}

.search-dropdown-category {

}

.search-dropdown-brand {

}

.search-dropdown-model {

}

.search-dropdown-condition {

}

.search-dropdown-transmission {

}

.search-dropdown-manufacturing_year {

}

//.main {
//  display : flex;
//  flex-direction: column;
//  border : 1px solid red;
//  width : 80%;
//  margin-right : auto;
//  margin-left: auto;
//  //justify-content: center;
//  //align-items: center;
//}
//.main > .first-row {
//  display: flex;
//  flex-direction: row;
//  width: 100%;
//  border : 1px solid green;
//  flex-wrap: wrap;
//}
//.main > .second-row {
//  display: flex;
//  flex-direction: row;
//  width: 100%;
//  border: 1px solid green;
//}
//.item {
//  width : 1000px;
//  border : 1px solid yellow;
//}
